/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: #fff;
    display: block;
}


.error{
  color: #ff0033;
  padding: 0.3em 0;
  display: block;
  clear: both;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.filas{
	display: block;
	clear: both;
	padding: 0.2em 0;
	overflow: hidden;
}

.filas input.button{
	margin: 0 auto;
	display: block;
	float: none;
	width: auto;
	background: #000;
	color: #fff;
	border: none;
	padding: 0.6em;
	font-weight: bold;
}

.filas input.button:hover{
	background-color: #3a2424;
	cursor: pointer;
}

.estilos_form{
	width: 30%;
	margin: 0 auto;
}


.estilos_form label{
	width: 46%;
	float: left;
	padding: 0 0.3em 0 0;
	text-align: right;
}
.estilos_form input{
	float: left;
	width: 50%;
}
/*-------Login--------*/


.login_section{
	width: 100%;
	margin: 0 auto;
	background: #69cbef;
	color: #fff;
	margin-top: 0;
	overflow:hidden;
}

.login_section h1{
	padding: 1em;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.login_section form{
  overflow: hidden;
  float: right;
  width: 39%;
}

.login{
    float: none;
    padding: 1em 0;
}



.login .filas{
  width: 33%;
  float: left;
  overflow: hidden;
  clear: none;
}

.login .filas label{
  float: left;
  padding: 0 4px 0 0;
  font-size: 12px;
  line-height: 28px;
}

.login .filas input{
  float: left;
  width: 55%;
  border: none;
  height: 28px;
  border-radius: 6px;
}

.login .filas.buttons{
	width: 23%;
}

.login input.button{
	width: auto;
	float: none;
}

/*-------Accordeon --------*/

.navegacion{
	width: 20%;
	float: left;
}

.accordeon{
    overflow: hidden;
    width: 100%;
}

.accordeon li{
    display: block;
    background: #69cbef; 
  
}

.accordeon li a{
    padding: 10px;
    display: block;
     border-bottom: 2px solid #fff;
}

.accordeon li a span{
    float: right;
}

.accordeon .showMenu li{
    display: block;
    background: #0d9fd8;

}

.accordeon .showMenu li a{
    border: none
}

.accordeon li .hiddenMenu{
    display: none;
}

/*--------Search-------*/
#result td{
	border: 1px solid #000;
	text-align: center;
}

#result td input{
	width: 100%;
}

#fileDisplayArea img{
  width: 250px;
  height: 250px;
}

.hidden{
	display: none;
}