.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/*************************
	CUSTOM STYLES
*************************/
.hidden{
	display: none;
}

.Formulario input:not([type=button]) {
	padding: 5px;
	margin: 0px 10px 10px 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
	width: 240px;
}

.Formulario .center input:not([type=button]) {
	margin: 0px;
}

.Formulario.busqueda_control input:not([type=button]),
.Formulario.busqueda_pacientes input:not([type=button]) {
	margin: 0px 10px;
}

input[type=submit],
input[type=button] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	/*margin-top: 15px;*/
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 200px;
}

.Formulario select,
.Formulario textarea{
	width: 245px;
	margin: 0px 10px 10px 10px;
}

.tableResult{
	margin: 20px 0px;
	font-size: 12px;

    border: 1px solid #000;
    text-align: center;
	
	width: 100%;
}

.tableResult input[type="button"] {
	margin: 5px 2px;
    width: 73px;
}

/***** TAB PACIENTE *****/
.nextTab:hover{
	text-decoration: none;
}

.nextTab{
    background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #fff;
    margin-top: 15px;
    padding: 5px 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 168px;
    display: block;
    text-decoration: none;
	float: right;
}

.nav-tabs a{
	color: #000;
}

.busqueda_pacientes, .busqueda_control{
	width: 90%;
}

.Pacientes, .Control{
	margin: 30px 0px;
}

.error{
	color: red;
}